<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Primrose Cottage</h2>
            <hr class="primary">
            <h3>A bit about Primrose Cottage</h3>
            <p>
                Roswell King, city founder, built Primrose for his daughter, Eliza King Hand, in 1839. Although quite grand, Primrose Cottage,
                Roswell's first permanent home, sits behind a white picket fence that radiates a warm ambiance more akin
                to a cottage than a manor home. The same is true of its impressive landscaping designed to capture the essence
                of an English cottage garden. Embracing the natural lay of the land, Primrose and its garden create a magical
                setting veiled in history, folklore and fantasy.
            </p>
            <hr class="primary">
            <h3>Driving Directions and Parking Information</h3>
            <p>Primrose Cottage is located in Historic Roswell.</p>
            <p>Parking for the event is located next door at
                <a href="https://goo.gl/maps/wgzUmdWujTC2">Roswell First Baptist Church</a>.</p>
            <div class="col-xs-12">
                <div class="accordion panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading active">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    From Alpharetta
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    <li>Take Alpharetta Hwy/GA-9 South</li>
                                    <li>Continue straight onto Magnolia Street</li>
                                    <li>Turn left onto Mimosa Blvd</li>
                                    <li>Primrose will be on the right</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    From Atlanta (I-85 & GA-400 North)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>Take I-75/85 North onto I-85 North</li>
                                    <li>Use two right lanes to take exit 87 north on GA-400</li>
                                    <li>Continue on GA-400 toward Buckhead/Cumming</li>
                                    <li>Take exit 86 for Northridge Rd and keep right to merge on Dunwoody Pl</li>
                                    <li>Continue on Dunwoody Pl</li>
                                    <li>Turn right onto Roswell Rd/S Atlanta St</li>
                                    <li>Turn left onto Marietta Hwy/GA-120 W</li>
                                    <li>Take first right onto Mimosa Blvd</li>
                                    <li>Primrose will be on the left</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    From Atlanta (I-75 North)
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>Get on I-75/85 North and continue onto I-75 North</li>
                                    <li>Take exit 263 and keep right for Roswell Rd/GA-120 E</li>
                                    <li>Continue on Roswell Rd for 9 miles</li>
                                    <li>Turn left onto Mimosa Blvd</li>
                                    <li>Primrose will be on the right</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Tips for Travelers</h3>
            <p></p>
            <h4>Hotels in the area</h4>
            <p>
                All of the hotels listed here are within 3 miles of the venue
                <ul>
                    <li>
                        <a href="https://www.ihg.com/holidayinn/hotels/us/en/roswell/atlrs/hoteldetail">Holiday Inn Atlanta/Roswell</a>
                    </li>
                    <li>
                        <a href="https://www.bestwestern.com/en_US/book/hotels-in-roswell/best-western-plus-roswell-alpharetta/propertyCode.11220.html">Best Western PLUS Roswell/Alpharetta</a>
                    </li>
                    <li>
                        <a href="https://www.wyndhamhotels.com/wingate/alpharetta-georgia/wingate-by-wyndham-alpharetta/overview">Wingate by Wyndham - Alpharetta</a>
                    </li>
                    <li>
                        <a href="https://www.wyndhamhotels.com/baymont/roswell-new-mexico/baymont-inn-and-suites-roswell-nm/overview">Baymont by Wyndham - Roswell</a>
                    </li>
                    <li>
                        <a href="http://doubletree3.hilton.com/en/hotels/georgia/doubletree-by-hilton-hotel-atlanta-roswell-ATLRSDT/index.html">DoubleTree by Hilton Atlanta - Roswell</a>
                    </li>
                </ul>

            </p>
            <h3>Things to Do</h3>
            <p>For you early arrivers, there's no shortage of things to do in Historic Roswell! Some ideas are listed below.</p>
            <h4>Vickery Creek Trail</h4>
            <p>
                This five-mile adventure explores the historic Roswell Mill and the surrounding rolling forest in Roswell, Georgia. It’s
                one of the best hikes in the Chattahoochee River National Recreation Area parks near Atlanta, though its
                trails don’t follow the actual banks of the Chattahoochee River. Instead, this hike explores the historic
                remains of Roswell Mill and visits the mill’s spillway dam waterfall on a Chattahoochee River tributary.
                The 5+ mile trail network hikes through beautiful, rolling forest and catches views of the rushing dam waterfall
                from a steep rock bluff.
            </p>
            <h4>Historic Homes of Roswell Georgia</h4>
            <p>Barrington Hall, Bulloch Hall and Smith Plantation, a trio of antebellum homes, are open to the public for visits
                and exploration. Closely situated as neighbors in the historic town of Roswell, each home has its own cultural
                bounty to share - and its own part of the Southern Trilogy Story - to tell.</p>
            <p>
                More information can be found via this
                <a href="http://roswellgov.com/Home/ShowDocument?id=946">brochure</a>.
            </p>
            <h4>Eat</h4>
            <p>
                Places to eat here.
            </p>
            <h4>Drink</h4>
            <p>Places to drink here.</p>
        </div>
    </div>
</div>